<!-- <app-course-list></app-course-list>
<app-course-add></app-course-add>
<app-course-delete></app-course-delete>
<app-course-edit></app-course-edit> -->

<h1>header</h1>
<a class="btn btn-primary mx-2" routerLink="/courses" routerLinkActive="active">coursesList</a>
<a class="btn btn-primary" routerLink="/courses/add" routerLinkActive="active">addCourse</a>
<!-- <a class="btn btn-primary" routerLink="/courses/update" routerLinkActive="active">updateCourse</a> -->
<router-outlet></router-outlet>
<h1>footer</h1>